.env
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
logs/
data/raw/
data/yolo/
*.log
.DS_Store

# Telethon session files
*.session
*.session-journal


data/
medical_warehouse/target/
medical_warehouse/dbt_packages/
medical_warehouse/logs/

# dbt build artifacts
medical_warehouse/target/
medical_warehouse/dbt_packages/
medical_warehouse/logs/


# dbt user file
medical_warehouse/.user.yml


# YOLO weights
yolov8n.pt


.tmp_dagster_home_*/

